.settings__setting{
    padding: 20px 0;
    border-bottom: var(--main-border);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

}
.settings__setting:hover{
    font-size: 1.4rem;
}
.settings__setting i{
    font-size: 22px;
    margin-right: 20px;
}
.setting__setting-column:last-child{
    opacity: 0.5;
}