.icon-row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.icon-row__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    transition: color 0.3s ease-in-out;
    color: rgba(0, 0, 0, 0.6);
}
.icon-row__icon span{
    font-size: 13px;
}
.icon-row__icon:hover{
    cursor: pointer;
    color:black;
}
.icon-row__icon i{
    font-size: 35px;
    margin-bottom: 20px;
}
/* .icon-row2{
    display:flex;
    justify-content: flex-start;
}
.icon-row2 i{
    margin-top: 20px;
}
.icon-row__icon2{
    margin-left:70px;
} */
