.screen-header{
    display: flex;
    justify-content: space-between;
    padding : var(--horizontal-space);
    margin : 30px 0px 10px 0px;
    /* align-items: center;
    /* box-sizing: border-box; */
    /* width: 100%; 
    top: 32px; */
    /* position: fixed;  */

}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 25px;
    position: relative;
}